# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [22]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [32]:
#h0: m==30 | h1: m!=30, dos colas, intervalo de confianza = 95%, osea, p-value tiene que ser < 0.05 para rechazar hipótesis nula
#1.- de los datos saco la media(mu_hat) y la varianza.

mu = 30
hourly_rate_hourlies = salaries['Hourly Rate'][salaries['Salary or Hourly'] == 'Hourly']
var = np.std(hourly_rate_hourlies)
media = np.mean(hourly_rate_hourlies)
n = len(hourly_rate_hourlies)

#z-test
from statsmodels.stats import weightstats as w
z_score, p_value=w.ztest(hourly_rate_hourlies, value=30, alternative='two-sided')
z_score, p_value

#ahora generando números normales random con los datos que obtuve directamente de la columna:
random=np.random.normal(media, var, n)
test=ttest_1samp(random, mu)
test.pvalue

#comparando tipos de test:
print("z-test p-value:",p_value, "t-test p-value:",test.pvalue)

#Rechazo mi hipótesus nula ya que p-value es menor a 0.05. Es decir el wage de los trabajadores por hora no esta distribuido 
#'normalmente' alrededor de 30.

z-test p-value: 1.8228873859286195e-94 t-test p-value: 5.374101870933149e-80

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [44]:
#h0: m <= 86,000 | h1: m>86,000, one-sided, p-value < 0.05 ya que 95% de confianza

#Salario ANUAL de los POLIS:
annual_police_salary = salaries['Annual Salary'][salaries['Department'] == 'POLICE']
annual_police_salary.isnull().sum() #Hay 10 NA's, entonces...
annual_police_salary = annual_police_salary.dropna()
annual_police_salary.isnull().sum() #Ahora sin NA's, para poder realizar operaciones como mean, std...

mu = 86000
var = np.std(annual_police_salary)
media = np.mean(annual_police_salary)
n = len(annual_police_salary)

#z-test
from statsmodels.stats import weightstats as w
z_score, z_p_value=w.ztest(annual_police_salary, value=86000, alternative='larger')
z_score, z_p_value

#t-test para tipo de hipótesis '<='
t_test=(media-mu)/(var/np.sqrt(n))
rv=t(df=(n-1))
t_p_value=(1-rv.cdf(t_test))/2
t_p_value

#comparando tipos de test:
print("z-test p-value:",p_value/2, "t-test p-value:",t_p_value)

#Los dos p-values son casi iguales, y son menores a 0.005, por lo tanto se rechaza la hipótesis nula.

z-test p-value: 0.0005140422643773927 t-test p-value: 0.0005148863209065713

Using the `crosstab` function, find the department that has the most hourly workers.

In [57]:
salaries.head()
ct = pd.crosstab(salaries.Department, salaries['Salary or Hourly'])
ct.sort_values('Hourly', ascending=False).head()
#El departamento con más hourly workers es STREETS & SAN

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [66]:
# h0: mu >=35 | h1: m<35, one-side, p-value < 0.005
hourly_rate_streets = salaries['Hourly Rate'][salaries['Department'] == 'STREETS & SAN']
hourly_rate_streets.isnull().sum()
hourly_rate_streets = hourly_rate_streets.dropna()
hourly_rate_streets.isnull().sum()

mu = 35
media = np.mean(hourly_rate_streets)
var = np.std(hourly_rate_streets)
n = len(hourly_rate_streets)

#t-test 1
t_test=(media-mu)/(var/np.sqrt(n))
rv=t(df=n-1)
p_value=rv.cdf(t_test)

#t-test 2
random=np.random.normal(media, var, n)
test=ttest_1samp(random, 35)

print (p_value, test.pvalue/2, )

#Se rechaza h0

1.6298535724243353e-21 1.4021826390920463e-22

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [77]:
from scipy import stats
hourly_rate_hourlies.head()

mean = np.mean(hourly_rate_hourlies)
stde = stats.sem(hourly_rate_hourlies)

# estuctura: interval(alpha, df, loc=0, scale=1)
t.interval(0.95, len(hourly_rate_hourlies)-1, loc=mean, scale=stde)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [80]:
salaried_annual = salaries['Annual Salary'][salaries['Salary or Hourly'] == 'Salary']

mean = np.mean(salaried_annual)
stde = stats.sem(salaried_annual)

t.interval(0.95, len(salaried_annual)-1, loc=mean, scale=stde)

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [88]:
from statsmodels.stats.proportion import proportions_ztest

#h0: mu=25 | h1: mu!=25, p-value < 0.05

counts = len(salaries[salaries['Salary or Hourly'] == 'Hourly']) #conteo de éxitos, osea, para este caso, los workers que son 'Hourly'
nobs = len(salaries) #len total de la población o muestra
value = .25 #el valor de mu en la hipotesis nula.

stat, pval = proportions_ztest(counts, nobs,value)
stat,pval

#Se rechaza la hipótesis nula.

(-3.5099964213703005, 0.0004481127249057967)