# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [6]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [7]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [8]:
# Your code here:
admissions.isnull().sum()
#Cero null's

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [11]:
# Your code here:
admissions.set_index('Serial No.', inplace=True)
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [30]:
# Your code here:
admissions['GRE Score'].value_counts(), admissions['CGPA'].value_counts() #Esto nos arroja el conteo de valores que se repiten en sus respectivas columnas

#Entonces, tomo algún valor que se repite y lo busco de manera individual para ver que hay:
admissions.get(admissions['GRE Score']==324) #No creo que esta columna sea in identificador, ya que hay diferentes valores en otras columnas cuando
#el valor es 324, que es un dato que se repite 12 veces.

admissions.get(admissions['CGPA']==8.56) #Lo mismo pienso de CGPA, no creo que sea un identificador ya que cuando el valor es igual a 
#8.56, existen diferentes valores en otras columnas.

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
72,329,114,2,2.0,4.0,8.56,1,0.72
109,320,110,2,4.0,3.5,8.56,0,0.72
157,317,105,3,3.5,3.0,8.56,0,0.68
212,316,110,3,3.5,4.0,8.56,0,0.75
233,314,107,2,2.5,4.0,8.56,0,0.63
245,309,99,3,4.0,4.0,8.56,0,0.76

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [33]:
# Your code here:
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)
admissions.head()

admissions.index=range(len(admissions))
admissions.head()

   TOEFL Score  University Rating  SOP  LOR  Research  Chance of Admit
0          118                  4  4.5  4.5         1             0.92
1          104                  3  3.0  3.5         1             0.72
2          110                  3  3.5  2.5         1             0.80
3          103                  2  2.0  3.0         0             0.65
4          115                  5  4.5  3.0         1             0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [40]:
# Your code here:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

admissions.get(admissions.CGPA>9) #110 rows!

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95
21,22,336,119,5,4.0,3.5,9.80,1,0.97
28,29,338,118,4,3.0,4.5,9.40,1,0.91
29,30,340,114,5,4.0,4.0,9.60,1,0.90
30,31,331,112,5,4.0,5.0,9.80,1,0.94
31,32,320,110,5,5.0,5.0,9.20,1,0.88
39,40,332,117,4,4.5,4.0,9.10,0,0.87
40,41,326,113,5,4.5,4.0,9.40,1,0.91
41,42,322,110,5,5.0,4.0,9.10,1,0.88
42,43,329,114,5,4.0,5.0,9.30,1,0.86
43,44,339,119,5,4.5,4.0,9.70,0,0.89
62,63,327,114,3,3.0,3.0,9.02,0,0.61
64,65,318,109,3,3.5,4.0,9.22,1,0.68
65,66,328,115,4,4.5,4.0,9.16,1,0.78
66,67,332,118,5,5.0,5.0,9.64,1,0.94
67,68,336,112,5,5.0,5.0,9.76,1,0.96
68,69,321,111,5,5.0,5.0,9.45,1,0.93
69,70,314,108,4,4.5,4.0,9.04,1,0.84
77,78,340,120,4,5.0,5.0,9.50,1,0.96
78,79,320,110,5,5.0,4.5,9.22,1,0.92
79,80,322,115,5,4.0,4.5,9.36,1,0.92
80,81,340,115,5,4.5,4.5,9.45,1,0.94
93,94,332,119,4,5.0,4.5,9.24,1,0.90
99,100,326,112,3,3.5,3.0,9.05,1,0.74
101,102,329,111,4,4.5,4.5,9.18,1,0.87
102,103,338,117,4,3.5,4.5,9.46,1,0.91
...,...,...,...,...,...,...,...,...,...
246,247,331,119,4,5.0,4.5,9.34,1,0.90
247,248,327,108,5,5.0,3.5,9.13,1,0.87
255,256,327,113,4,4.5,5.0,9.14,0,0.83
263,264,329,113,5,5.0,4.5,9.45,1,0.89
268,269,317,110,3,4.0,4.5,9.11,1,0.80
271,272,340,112,4,5.0,4.5,9.66,1,0.94
272,273,331,116,5,4.0,4.0,9.26,1,0.93
273,274,336,118,5,4.5,4.0,9.19,1,0.92
274,275,324,114,5,5.0,4.5,9.08,1,0.89
275,276,314,104,4,5.0,5.0,9.02,0,0.82
284,285,320,120,3,4.0,4.5,9.11,0,0.86
285,286,330,114,3,4.5,4.5,9.24,1,0.90
293,294,323,110,3,4.0,3.5,9.10,1,0.79
298,299,328,108,4,4.5,4.0,9.18,1,0.84
311,312,326,116,3,3.5,4.0,9.14,1,0.81
322,323,332,118,5,5.0,5.0,9.47,1,0.94
346,347,334,116,4,4.0,3.5,9.54,1,0.93
347,348,338,115,5,4.5,5.0,9.23,1,0.91
350,351,330,114,4,4.5,3.0,9.17,1,0.86
356,357,324,110,3,3.5,3.0,9.22,1,0.89
357,358,336,119,4,4.5,4.0,9.62,1,0.95
367,368,324,110,4,4.5,4.0,9.15,1,0.82
369,370,340,113,4,5.0,5.0,9.74,1,0.96
370,371,335,117,5,5.0,5.0,9.82,1,0.96
377,378,326,112,4,4.0,3.5,9.12,1,0.84
379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [43]:
# Your code here:
admissions.query('CGPA>9 & SOP < 3.5')

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,338,118,4,3.0,4.5,9.40,1,0.91
62,63,327,114,3,3.0,3.0,9.02,0,0.61
140,141,326,114,3,3.0,3.0,9.11,1,0.83
217,218,324,111,4,3.0,3.0,9.01,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [50]:
# (mean-N)/std

#mn = admissions.CGPA.mean()
#st = admissions.CGPA.std()

#lst = []
#for e in admissions.CGPA:
#    lst.append((mn-e)/st)

#lst

In [52]:
def standardize(col):
    mn= col.mean()
    st= col.std()
    lst=[(mn-e)/st for e in col]
    
    return lst

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [54]:
# Your code here:

CGPA_std = standardize(admissions.CGPA)
GRE_std = standardize(admissions['GRE Score'])
LOR_std = standardize(admissions.LOR)

admissions['CGPA_std']=pd.DataFrame(CGPA_std)
admissions['GRE_std']=pd.DataFrame(GRE_std)
admissions['LOR_std']=pd.DataFrame(LOR_std)

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,-1.747900,-1.753381,-1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,0.991211,0.063367,-0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,-0.121034,-0.455704,1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,0.642597,0.236391,0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,-1.233279,-1.147798,0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [55]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [70]:
# Your code here:
decision_choice
admissions.lookup(admissions.index[:len(admissions)], decision_choice)

admissions['deciding_column']=admissions.lookup(admissions.index[:len(admissions)], decision_choice)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [71]:
# Your code here:
admissions['decision']=np.where(admissions.deciding_column > .8, 1, 0)
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Decision_choice,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,-1.747900,-1.753381,-1.191647,GRE_std,-1.753381,0
1,2,316,104,3,3.0,3.5,8.00,1,0.72,0.991211,0.063367,-0.076740,CGPA_std,0.991211,1
2,3,322,110,3,3.5,2.5,8.67,1,0.80,-0.121034,-0.455704,1.038166,CGPA_std,-0.121034,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,0.642597,0.236391,0.480713,LOR_std,0.480713,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,-1.233279,-1.147798,0.480713,LOR_std,0.480713,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [77]:
# Your code here:
admissions.query('decision == 1') 
admissions.get(admissions.decision==1)
# 77 aplicantes seran aceptados.

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Decision_choice,deciding_column,decision
1,2,316,104,3,3.0,3.5,8.00,1,0.72,0.991211,0.063367,-0.076740,CGPA_std,0.991211,1
7,8,302,102,1,2.0,1.5,8.00,0,0.50,0.991211,1.274533,2.153072,LOR_std,2.153072,1
11,12,307,109,3,4.0,3.0,8.00,1,0.62,0.991211,0.841973,0.480713,GRE_std,0.841973,1
17,18,303,102,3,3.5,3.0,8.50,0,0.62,0.161177,1.188021,0.480713,GRE_std,1.188021,1
18,19,325,114,4,3.0,2.0,8.40,0,0.70,0.327184,-0.715239,1.595619,LOR_std,1.595619,1
23,24,298,98,2,1.5,2.5,7.50,1,0.44,1.821244,1.620580,1.038166,GRE_std,1.620580,1
24,25,295,93,1,2.0,2.0,7.20,0,0.46,2.319265,1.880115,1.595619,LOR_std,1.595619,1
25,26,310,99,2,1.5,2.0,7.30,0,0.54,2.153258,0.582438,1.595619,LOR_std,1.595619,1
26,27,300,97,2,3.0,3.0,8.10,1,0.65,0.825204,1.447556,0.480713,GRE_std,1.447556,1
33,34,300,105,1,1.0,2.0,7.80,0,0.58,1.323224,1.447556,1.595619,CGPA_std,1.323224,1
34,35,304,105,1,3.0,1.5,7.50,0,0.52,1.821244,1.101509,2.153072,GRE_std,1.101509,1
35,36,307,108,2,4.0,3.5,7.70,0,0.48,1.489231,0.841973,-0.076740,GRE_std,0.841973,1
36,37,308,110,3,3.5,3.0,8.00,1,0.46,0.991211,0.755462,0.480713,CGPA_std,0.991211,1
37,38,316,105,2,2.5,2.5,8.20,1,0.49,0.659198,0.063367,1.038166,LOR_std,1.038166,1
48,49,334,116,4,4.0,3.0,8.00,1,0.78,0.991211,-1.493846,0.480713,CGPA_std,0.991211,1
49,50,324,112,4,4.0,2.5,8.10,1,0.72,0.825204,-0.628727,1.038166,CGPA_std,0.825204,1
53,54,298,99,2,4.0,2.0,7.60,0,0.46,1.655238,1.620580,1.595619,LOR_std,1.595619,1
54,55,300,99,1,3.0,2.0,6.80,1,0.36,2.983291,1.447556,1.595619,CGPA_std,2.983291,1
58,59,304,105,2,3.0,3.0,8.20,1,0.54,0.659198,1.101509,0.480713,GRE_std,1.101509,1
73,74,301,99,2,3.0,2.0,8.22,0,0.64,0.625996,1.361044,1.595619,GRE_std,1.361044,1
74,75,296,95,2,3.0,2.0,7.54,1,0.44,1.754842,1.793603,1.595619,CGPA_std,1.754842,1
75,76,294,93,1,1.5,2.0,7.36,0,0.46,2.053654,1.966627,1.595619,GRE_std,1.966627,1
87,88,298,98,2,4.0,3.0,8.03,0,0.34,0.941409,1.620580,0.480713,GRE_std,1.620580,1
89,90,303,99,3,2.0,2.5,7.66,0,0.36,1.555634,1.188021,1.038166,CGPA_std,1.555634,1
90,91,304,100,4,1.5,2.5,7.84,0,0.42,1.256822,1.101509,1.038166,CGPA_std,1.256822,1
112,113,290,104,4,2.0,2.5,7.46,0,0.45,1.887647,2.312674,1.038166,GRE_std,2.312674,1
113,114,296,99,2,3.0,3.5,7.28,0,0.47,2.186459,1.793603,-0.076740,GRE_std,1.793603,1
117,118,310,106,4,1.5,2.5,8.36,0,0.57,0.393587,0.582438,1.038166,LOR_std,1.038166,1
151,152,306,106,2,2.0,2.5,8.14,0,0.61,0.758802,0.928485,1.038166,GRE_std,0.928485,1
152,153,297,100,1,1.5,2.0,7.90,0,0.52,1.157218,1.707092,1.595619,CGPA_std,1.157218,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,280,302,99,2,1.0,2.0,7.97,0,0.56,1.041013,1.274533,1.595619,LOR_std,1.595619,1
281,282,316,101,2,2.5,2.0,8.32,1,0.61,0.459989,0.063367,1.595619,LOR_std,1.595619,1
286,287,305,112,3,3.0,3.5,8.65,0,0.71,-0.087833,1.014997,-0.076740,GRE_std,1.014997,1
291,292,313,106,2,2.5,2.0,8.43,0,0.62,0.277382,0.322903,1.595619,LOR_std,1.595619,1
302,303,298,101,2,1.5,2.0,7.86,0,0.54,1.223620,1.620580,1.595619,LOR_std,1.595619,1
303,304,300,99,1,1.0,2.5,8.01,0,0.58,0.974610,1.447556,1.038166,LOR_std,1.038166,1
310,311,315,104,3,3.0,2.5,8.33,0,0.67,0.443389,0.149879,1.038166,LOR_std,1.038166,1
312,313,299,100,3,2.0,2.0,8.02,0,0.63,0.958010,1.534068,1.595619,CGPA_std,0.958010,1
313,314,295,101,2,2.5,2.0,7.86,0,0.69,1.223620,1.880115,1.595619,LOR_std,1.595619,1
315,316,297,96,2,2.5,1.5,7.89,0,0.43,1.173818,1.707092,2.153072,GRE_std,1.707092,1
318,319,308,106,3,3.5,2.5,8.21,1,0.75,0.642597,0.755462,1.038166,LOR_std,1.038166,1
329,330,295,96,2,1.5,2.0,7.34,0,0.47,2.086855,1.880115,1.595619,CGPA_std,2.086855,1
330,331,316,98,1,1.5,2.0,7.43,0,0.49,1.937449,0.063367,1.595619,LOR_std,1.595619,1
331,332,304,97,2,1.5,2.0,7.64,0,0.47,1.588835,1.101509,1.595619,CGPA_std,1.588835,1
332,333,299,94,1,1.0,1.0,7.34,0,0.42,2.086855,1.534068,2.710526,GRE_std,1.534068,1
333,334,302,99,1,2.0,2.0,7.25,0,0.57,2.236261,1.274533,1.595619,CGPA_std,2.236261,1
334,335,313,101,3,2.5,3.0,8.04,0,0.62,0.924808,0.322903,0.480713,CGPA_std,0.924808,1
339,340,297,98,2,2.5,3.0,7.67,0,0.59,1.539033,1.707092,0.480713,GRE_std,1.707092,1
342,343,301,104,2,3.5,3.5,7.89,1,0.68,1.173818,1.361044,-0.076740,GRE_std,1.361044,1
343,344,314,105,2,2.5,2.0,7.64,0,0.70,1.588835,0.236391,1.595619,LOR_std,1.595619,1
352,353,311,98,1,1.0,2.5,7.46,0,0.57,1.887647,0.495926,1.038166,LOR_std,1.038166,1
353,354,298,92,1,2.0,2.0,7.88,0,0.51,1.190419,1.620580,1.595619,GRE_std,1.620580,1
354,355,301,98,1,2.0,3.0,8.03,1,0.67,0.941409,1.361044,0.480713,CGPA_std,0.941409,1
359,360,315,105,2,2.0,2.5,7.65,0,0.39,1.572234,0.149879,1.038166,LOR_std,1.038166,1
360,361,304,101,2,2.0,2.5,7.66,0,0.38,1.555634,1.101509,1.038166,CGPA_std,1.555634,1
361,362,297,96,2,2.5,2.0,7.43,0,0.34,1.937449,1.707092,1.595619,LOR_std,1.595619,1
362,363,290,100,1,1.5,2.0,7.56,0,0.47,1.721640,2.312674,1.595619,GRE_std,2.312674,1
363,364,303,98,1,2.0,2.5,7.65,0,0.56,1.572234,1.188021,1.038166,GRE_std,1.188021,1
372,373,307,105,2,2.0,3.5,8.10,0,0.53,0.825204,0.841973,-0.076740,CGPA_std,0.825204,1
373,374,296,97,2,1.5,2.0,7.80,0,0.49,1.323224,1.793603,1.595619,LOR_std,1.595619,1

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [86]:
# Your code here:
admissions.columns

admissions.columns = admissions.columns.str.replace(' ', '_').str.replace('.','').str.lower()

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [92]:
# Your code here:

admissions.columns
admissions['adjusted_gre'] = pd.cut((np.where(admissions.university_rating > 4, admissions.gre_score+10,admissions.gre_score)),4)
admissions.adjusted_gre

0       (335.0, 350.0]
1       (305.0, 320.0]
2       (320.0, 335.0]
3       (305.0, 320.0]
4       (335.0, 350.0]
5       (320.0, 335.0]
6       (305.0, 320.0]
7      (289.94, 305.0]
8       (320.0, 335.0]
9       (320.0, 335.0]
10      (320.0, 335.0]
11      (305.0, 320.0]
12      (305.0, 320.0]
13      (305.0, 320.0]
14      (305.0, 320.0]
15      (305.0, 320.0]
16      (305.0, 320.0]
17     (289.94, 305.0]
18      (320.0, 335.0]
19      (335.0, 350.0]
20      (335.0, 350.0]
21      (335.0, 350.0]
22      (320.0, 335.0]
23     (289.94, 305.0]
24     (289.94, 305.0]
25      (305.0, 320.0]
26     (289.94, 305.0]
27      (320.0, 335.0]
28      (335.0, 350.0]
29      (335.0, 350.0]
            ...
355     (305.0, 320.0]
356     (320.0, 335.0]
357     (335.0, 350.0]
358     (320.0, 335.0]
359     (305.0, 320.0]
360    (289.94, 305.0]
361    (289.94, 305.0]
362    (289.94, 305.0]
363    (289.94, 305.0]
364     (305.0, 320.0]
365     (320.0, 335.0]
366     (305.0, 320.0]
367     (320.0, 335.0]
368    (289.94, 305.0]
369     (335.0, 350.0]
370     (335.0, 350.0]
371    (289.94, 305.0]
372     (305.0, 320.0]
373    (289.94, 305.0]
374     (305.0, 320.0]
375     (305.0, 320.0]
376     (305.0, 320.0]
377     (320.0, 335.0]
378     (305.0, 320.0]
379     (320.0, 335.0]
380     (320.0, 335.0]
381     (320.0, 335.0]
382     (320.0, 335.0]
383     (305.0, 320.0]
384     (320.0, 335.0]
Name: adjusted_gre, Length: 385, dtype: category
Categories (4, interval[float64]): [(289.94, 305.0] < (305.0, 320.0] < (320.0, 335.0] < (335.0, 350.0]]